//Main Colors
$basic-blue: #0072CE !important;
$basic-background-color: #F1F5F8 !important;
$basic-light-gray: #ebebeb !important;

//Prority Labels
$orange-color: #F97A10 !important;
$light-orange: #FEE7C6 !important;
$red-color: #E60042 !important;
$light-red: #FDD5E1 !important;
$cyan-color: #04AAB5 !important;
$light-cyan: #BDF5FF !important;
$purple-color: #6F4A9A !important;
$light-purple: #E6D1FF !important;
$brown-color: #8F4E00 !important;
$light-brown: #FBDEBC !important;
$gray-color: #4A4A4A !important;
$light-gray: #CACACA !important;
$blue-color: #0F5EC6 !important;
$light-blue: #CADEFA !important;
$green-color: #47AE00 !important;
$magenta-color: #E60042 !important;

//Status Labels
$accepted: #47AE00 !important;
$arrived: #0F5C53 !important;
$proposal-approved: #0F5EC6 !important;
$proposal-submitted: #2695D2 !important;
$submitting-proposal: #1EBCD8 !important;
$complete: #4A4A4A !important;
$enroute: #8F4E00 !important;
$reassign: #16909B !important;
$unassigned: #845FA5 !important;
$not-fixed: #D342A1 !important;
$pending: #F97A10 !important;
$pending-sp-acceptance: #F97A10 !important;
$pending-parts: #E88150 !important;
$rejected: #E60042 !important;
$proposal-rejected: #E60042 !important;
$return-visit-required: #FF3B73 !important;




//Gutters / Margin / Padding
$w1-gutter: 1vw;
$w2-gutter: 2vw;
$h2-gutter: 2vh;
$p5-margin: 5px;

//Font Sizes
$rm1-font-size: 1rem;
$rm3-font-size: 3rem;
$rm7-font-size: 7rem;
$px64-font-size: 64px !important;
$px42-font-size: 42px !important;
$px38-font-size: 38px !important;
$px24-font-size: 24px !important;
$px12-font-size: 12px !important;

//Font Families
$font-family: 'SfUiDisplay' !important;

