//Main Colors
$basic-blue: #0072CE !important;
$basic-background-color: #F1F5F8 !important;
$basic-light-gray: #ebebeb !important;

//Label Colors
$orange-color: #FF9022 !important;
$light-orange: #feecd4 !important;
$red-color: #F20050 !important;
$light-red: #ffdee7 !important;
$cyan-color: #03b7c5 !important;
$light-cyan: #c5f5ff !important;
$purple-color: #875eaa !important;
$light-purple: #eddcff !important;
$brown-color: #a1630c !important;
$light-brown: #fde5c9 !important;
$gray-color: #5c5c5c !important;
$light-gray: #d5d5d5 !important;
$blue-color: #0071cf !important;
$light-blue: #d3e4f8 !important;
$green-color: #49b900 !important;
$magenta-color: #F20050 !important;


//Gutters / Margin / Padding
$w1-gutter: 1vw;
$w2-gutter: 2vw;
$h2-gutter: 2vh;
$p5-margin: 5px;

//Font Sizes
$rm1-font-size: 1rem;
$rm3-font-size: 3rem;
$rm7-font-size: 7rem;
$px64-font-size: 64px !important;
$px42-font-size: 42px !important;
$px38-font-size: 38px !important;
$px24-font-size: 24px !important;
$px12-font-size: 12px !important;

//Font Families
$font-family: 'SfUiDisplay' !important;

