@import '../mixins.scss';
@import '../variables.scss';

.common-table.component {
    width: 100%;
}
.tab-panel {
    div {
        padding: 0px !important;
    }
}
.data-tab-row {
    div{
        background-color: #f8f8f8;
        font-weight: 700;
        color: #909DA8;
        line-height: 20px !important;
        height: 20px !important;
        margin-top: 10px;
        font-size: 12px;
    }
    :first-child {
        padding-left: 10px !important;
    }
}