@import '../mixins.scss';
@import '../variables.scss';

.common-table.component {
    width: 100%;
}
.tab-panel {
    div {
        padding: 0px !important;
    }
}
.data-tab-row-notes {
    th {
        display: none !important;
    }
}
#simple-tabpanel-0 {
    margin-top: 10px;
    border: 1px solid #cccccc;
    padding: 10px;
}
.data-tab-row {
    margin: 10px 0px 10px 0px;    
    div {
        background-color: #f8f8f8;
        font-weight: 700;
        color: #909DA8;
        line-height: 20px !important;
        height: 20px !important;
        font-size: 12px;
    }
    :first-child {
        padding-left: 10px !important;
    }
}

@media only screen and (max-width: 500px) { 
    .tab-list{
        >div>div{
            display: grid;
            button {
                width: 100%;
                max-width: 100%;
            }
        }
    }    
}