@import '../src/assets/scss/';
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
//Hacks Material UI
.MuiTableCell-root {
  padding: 0px !important;
  border: none !important;
}
.MuiChip-root {
  border-radius: 8px !important;
}
.MuiAvatar-root {
  border-radius: 8px !important;
}
.Mui-selected {
  background-color: unset !important;
}

// .Mui-selected {
//   background-color: $basic-blue;
//   border: 4px solid $basic-blue;
//   color: #FFF !important;
// }
