@import '../src/assets/scss/';
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//Hacks Material UI
.MuiTableCell-root {
    padding: 0px 5px 0px 0px !important;
    border: none !important;
    font-size: 0.775rem !important
}

.MuiChip-root {
    border-radius: 8px !important;
}

.MuiAvatar-root {
    border-radius: 8px !important;
}

.MuiAlert-root {
    padding: 6px 35px !important
}

.Mui-selected {
    background-color: unset !important;
}

.MuiDialog-paper {
    width: 50%
}

.MuiMenu-paper {
    max-height: 70vh !important;
}

.MuiSelect-select {
  font-size: 15px !important;
  &:focus {
    background-color: unset !important;
  }
}

.MuiSelect-select.MuiSelect-select {
    padding-left: 6px;
}

// .Mui-selected {
//   background-color: $basic-blue;
//   border: 4px solid $basic-blue;
//   color: #FFF !important;
// }

@media only screen and (max-width: 1279px) {
    .work-order-details-component {
        .MuiTableCell-root {
            font-size: 0.675rem !important
        }
    }
    .MuiButton-root {
        padding: 6px 4px !important;
    }
    .MuiTab-root {
        min-width: unset !important;
    }
}

@media only screen and (max-width: 1030px) {
    .work-order-details-component {
        .MuiTableCell-root {
            font-size: 0.6rem !important
        }
    }
    .MuiButton-root {
        padding: 6px 4px !important;
    }
}