@import '../src/assets/scss/';
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//Hacks Material UI
.MuiTableCell-root {
    padding: 0px 5px 0px 0px !important;
    border: none !important;
}

.MuiChip-root {
    border-radius: 8px !important;
}

.MuiAvatar-root {
    border-radius: 8px !important;
}

.Mui-selected {
    background-color: unset !important;
}

.MuiDialog-paper {
    width: 50%
}

.MuiSelect-select {
  font-size: 15px !important;
  &:focus {
    background-color: unset !important;
  }
}

.MuiSelect-select.MuiSelect-select {
    padding-left: 6px;
}

// .Mui-selected {
//   background-color: $basic-blue;
//   border: 4px solid $basic-blue;
//   color: #FFF !important;
// }

@media only screen and (max-width: 1279px) {
    .MuiTableCell-root {
        font-size: 0.675rem !important
    }
    .MuiButton-root {
        padding: 6px 4px !important;
    }
}